@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2D2727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-family: lobster;
  color: white;
  text-shadow: 4px 4px 0 black;
  font-size: 50px;
  text-decoration: underline;
}

h3 {
  font-family: lobster;
  color: white;
  text-shadow: 2px 2px 0 black;
  font-size: 25px;
}

p {
  color: white;
}

label {
  color: #F0EB8D;
}

.nav {
  border: 2px black solid;
  padding: 4px;
  display: flex;
  background-color: #413543;
}

.survey-h3 {
  font-family: lobster;
  color: white;
  text-shadow: 2.5px 2.5px 0 black;
  font-size: 25px;
}

.column {
  width: 50%;
  float: right;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px black solid;
  margin: 4px;
  display: flex;
  background-color: #413543;
}

.card-2 {
  border: 2px black solid;
  margin: 4px;
  display: flex;
  flex-direction: column;
  background-color: #42855B;
  align-items: center;
}

.add-card {
  border: 2px black solid;
  margin: 4px;
  display: flex;
  background-color: #42855B;
}


.card-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-button-group-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin: 4px;
}

.card-button {
  border: 2px black solid;
  width: 50px;
  height: 50px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.delete {
  background-color: #fe6077;
}

.delete:hover {
  background-color: black;
  color: #fe6077;
}

.update {
  background-color: #08b9e7;
}

.update:hover {
  background-color: black;
  color: #08b9e7;
}

.add {
  background-color: lightgreen;
}

.add:hover {
  background-color: black;
  color: lightgreen;
}

.box {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 10%;
  background-color:#8F43EE ;
}

.box-2 {
  border: 2px black solid;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 10px; /* Gap between the columns */
  background-color:	#413543;
}

.auth-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-125 {
  margin: 12.5px;
}

.auth-button {
  border: 2px black solid;
  padding: 12.5px;
  background-color:	#F0EB8D;
  font-family: lobster;
}

.auth-button:hover {
  border: 2px black solid;
  padding: 12.5px;
  background-color:	#8F43EE;
  font-family: lobster;
}

.survey-form {
  border: 2px black solid;
  padding: 12.5px;
  background-color:	#413543;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
}

.survey-form-questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.survey-form-item {
  border: 2px solid black;
  margin: 12.5px;
  text-align: left;
}

.submit-button {
  border: 2px black solid;
  padding: 12.5px;
  background-color:	#F0EB8D;
  font-family: lobster;
  margin: auto;
}

.submit-button:hover {
  border: 2px black solid;
  padding: 12.5px;
  background-color:	black;
  color: white;
  font-family: lobster;
}